# Server
PORT
NODE_ENV

# Database (for Sequelize)
DB_HOST
DB_USER
DB_PASS
DB_NAME
DB_DIALECT

# JWT Secrets
ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET

# Cookie Settings
COOKIE_SECURE
COOKIE_SAME_SITE

# Roles
DEFAULT_USER_ID 
ADMIN_ROLE_ID   

